@import "../../variables/variables";
@import "../../mixins";

.editor {
  &__wrapper {
    @include breakpoints;
    text-align: center;
  }

  &__header {
    @include mainFont(bold, 26px, 28px, $colorRevolutionaryHeader);
    text-transform: uppercase;
    margin-top: 130px;
    margin-bottom: 27px;
  }

  &__descr {
    @include secondaryFont(normal, 14px, 20px, $colorAdvantageTitle)
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 120px;
  }
}

.action {
  &__container {
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
      align-items: flex-start;
    }
  }

  &__btn {
    @include actionBtn;
    outline: none;
  }

  &__counter {
    @include actionBtn;
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
    background-color: transparent;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .editor {
    &__header {
      margin-top: 99px;
      @include h2titleFontTablet;
    }

    &__descr {
      font-size: 21px;
      line-height: 32px;
    }

    &__actions {
      margin-top: 32px;
      margin-bottom: 160px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .editor {
    &__header {
      margin-top: 66px;
      margin-bottom: 35px;
      font-size: 54px;
      line-height: 54px;
    }

    &__actions {
      margin-top: 25px;
      margin-bottom: 70px;
    }
  }
}