@import "../../variables/variables";
@import "../../mixins";


.advantages-section {
  &__wrapper {
    @include breakpoints;
    text-align: center;
  }

  &__subheader {
    @include mainFont(bold, 32px, 38px, $mainColor);
    margin-bottom: 36px;
    grid-area: subheader;
  }

  &__container {
    grid-area: advantages;
  }

  &__screenshot {
    position: relative;
    right: -10px;
    width: 100%;
    height: 381px;
    grid-area: screenshot;
  }
}

.advantage {
  margin-bottom: 38px;
  text-align: center;

  &:last-child {
    margin-bottom: 64px;
  }

  &__section {
    display: block;
    text-decoration: none;

  }

  &__img {
    width: 111px;
    margin: 0 auto 27px auto;
  }

  &__title {
    @include mainFont(normal, 16px, 16px, $colorAdvantageTitle);
    margin-bottom: 14px;
  }

  &__descr {
    @include secondaryFont(normal, 14px, 21px, $colorDescription);
  }

}

@media screen and (min-width: $tablet-breakpoint) {
  .advantages-section {
    &__subheader {
      @include h2titleFontTablet;
      margin-bottom: 50px;
    }

    &__screenshot {
      width: 100%;
      height: 519px;
    }
  }

  .advantage {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 76px;
    }

    &__section {
      display: grid;
      grid-template-columns: (auto auto);
      justify-content: center;
    }

    &__img {
      margin-right: 24px;
      margin-bottom: 0;
      text-align: center;
    }

    &__text-wrapper {
      text-align: start;
    }
  }
}


@media screen and (min-width: $desktop-breakpoint) {
  .advantages-section {
    background-color: $colorAdvantageBackground;

    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
          "advantages subheader"
          "advantages screenshot";
      grid-template-columns: 40% auto;
      grid-template-rows: 85px auto;
      grid-column-gap: 50px;
      padding: 100px 10px 33px 10px;
    }

    &__subheader {
      @include h2titleFontWeb;
      margin-bottom: 20px;
      text-align: left;
    }

    &__screenshot {
      position: static;
      display: block;
      padding: 0;
      justify-self: end;
    }
  }

  .advantage {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

