@import "../../variables/variables";
@import "../../mixins";


.pricings {
  background: url("../img/background3.png"), no-repeat, 100%, fixed;

  &__wrapper {
    @include breakpoints;
    text-align: center;
    padding-bottom: 10px;
  }

  &__title {
    @include mainFont(bold, 28px, 42px, $secondaryColor);
    margin-bottom: 32px;

    &:before {
      content: '';
      width: 245px;
      display: block;
      height: 2px;
      background: #645766;
      margin: 0 auto 14px auto;
    }
  }
}

.pricing {
  background-color: rgba(255, 255, 255, 0.11);
  text-transform: uppercase;
  width: 257px;
  height: 467px;
  margin: 0 auto 18px auto;
  text-align: center;

  &__title {
    @include mainFont(normal, 24px, 24px, $secondaryColor);
    padding: 36px 0;
    background-color: rgba(255, 255, 255, 0.06);
  }

  &__price {
    @include mainFont(normal, 60px, 62px, $secondaryColor);
    margin-top: 30px;
    margin-bottom: 20px;

    &_sum {
      font-weight: bold;
    }
  }

  &__term {
    @include mainFont(normal, 14px, 16px, $secondaryColor);
    margin-bottom: 38px;

    &:after {
      content: '';
      width: 60px;
      height: 5px;
      display: block;
      background: $mainColor;
      margin: 38px auto 30px auto;
    }
  }

  &__offer {
    @include mainFont(normal, 16px, 28px, $secondaryColor);
    text-transform: capitalize;
  }

  &__btn {
    padding: 15px 37px;
    margin-top: 37px;
    //border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;

  }
}

.pricing_active {
  background-color: rgba(70, 48, 72, 0.84);
  width: 299px;
  height: 560px;

  &__title {
    padding: 43px 0;
    background-color: rgba(0, 0, 0, 0.11);
  }

  &__price {
    @include mainFont(normal, 82px, 84px, $secondaryColor);
    margin-top: 14px;
    margin-bottom: 16px;
  }

  &__term {
    margin-bottom: 46px;

    &:after {
      margin: 46px auto 40px auto;
    }
  }

  &__btn {
    @include mainFont(normal, 16px, 18px, $secondaryColor);
    padding: 19px 48px;
    margin-top: 83px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .pricings {
    padding-bottom: 94px;

    &__title {
      @include h2titleFontTablet;
      margin-bottom: 38px;

      &:before {
        width: 72%;
        margin: 0 auto 88px;
      }
    }
  }
  .pricing {
    align-self: center;

    &:nth-child(odd) {
      justify-self: end;
    }

    &:nth-child(even) {
      justify-self: start;
    }
  }
}

@media screen and (min-width: 582px) {
  .pricings {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 300px);
      justify-content: center;
      grid-gap: 30px 25px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {

  .pricings {
    padding-bottom: 97px;

    &__title {
      @include h2titleFontWeb;
      margin-bottom: 61px;

      &:before {
        width: 65%;
        margin: 0 auto 112px;
      }
    }


  }
}

@media screen and (min-width: 1115px) {

  .pricings {
    &__container {
      grid-template-columns: repeat(4, auto);
      justify-content: center;
      grid-column-gap: 15px;
    }
  }
}

