@import "../../variables/variables";
@import "../../mixins";

.main {
  background-color: black;

  &__wrapper {
    @include breakpoints;

    background-image: url("../img/background1.png");
    background-position-x: center;
    background-position-y: -140px;
    height: 615px;
    padding: 0 25px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mainFont(bold, 48px, 48px, $secondaryColor);
    margin-top: 50px;
  }

  &__description {
    @include mainFont(normal, 18px, 24px, $mainColor);
    margin-top: 19px;
    text-align: center;
  }

  &__version {
    @include mainFont(normal, 14px, 14px, $colorDescription);
    text-transform: uppercase;
    margin-top: 14px;
  }

  &__getit {
    position: absolute;
    bottom: -48px;
  }

  &__download {
    width: 290px;
    height: 45px;
    @include mainFont(bold, 18px, 20px, $secondaryColor);
  }

  &__trial {
    @include mainFont(normal, 14px, 14px, $colorDescription);
    text-align: center;
    margin-top: 13px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .main {
    &__wrapper {
      height: 682px;
      background-position-y: -100px;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
      margin-top: 69px;
    }

    &__description {
      @include secondaryFont(normal, 24px, 24px, $mainColor);
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .main {

    &__title {
      font-size: 82px;
      line-height: 82px;
    }

    &__description {
      font-size: 30px;
      line-height: 30px;
    }

    &__version {
      font-size: 16px;
      line-height: 16px;
    }
  }
}