@import "../../variables/variables";
@import "../../mixins";

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 165px;

  &__title {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__text {
    @include secondaryFont(bold, 16px, 24px, $secondaryColor);
    font-style: italic;
    text-align: center;
    padding: 0 5px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .review {
    width: 315px;
    height: 140px;
  }
}