@import "variables/variables";
@import "mixins";

.btn {
  outline: none;
  border: none;
  border-radius: 40px;
  @include mainFont(normal, 15px, 15px, $secondaryColor);
  font-style: normal;
  text-align: center;
  cursor: pointer;

  &_purple {
    background: $mainColor;
    border: 2px solid $mainColor;
    font-weight: bold;

    &:hover {
      background: $secondaryColor;
      color: $mainColor;
    }
  }
}