@import "variables/variables";

@mixin h2titleFontTablet {
  font-size: 42px;
  line-height: 44px;
}

@mixin h2titleFontWeb {
  font-size: 48px;
  line-height: 50px;
}

@mixin actionBtn {
  @include mainFont(bold, 12px, 20px, $colorActionBtnText);
  display: flex;
  align-items: center;
  padding: 3px 12px;
  background-color: $colorActionBtnBackground;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  box-sizing: border-box;
}

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', sans-serif;

@mixin mainFont($weight, $font-size, $line-height, $color) {
  font-family: $mainFont;
  @include font($weight, $font-size, $line-height, $color)
}

@mixin secondaryFont($weight, $font-size, $line-height, $color) {
  font-family: $secondaryFont;
  @include font($weight, $font-size, $line-height, $color)
}

@mixin font($weight, $font-size, $line-height, $color) {
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
}

@mixin breakpoints {
  box-sizing: border-box;
  min-width: $mobile-min;
  max-width: $desktop-max;
  margin: 0 auto;
  padding: 0 10px;
}