@import "mixins";
@import "sections/sections";
@import "buttons";

html, body {
  width: 100%
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  &_hidden {
    display: none;
  }
}