$colorRevolutionaryHeader: #635C73;
$colorActionBtnText:#000;
$colorActionBtnBackground:#f2f2f2;
$colorAdvantageTitle:#323232;
$colorAdvantageBackground:#F4F4F4;;

$mainColor: #8D81AC;
$secondaryColor: #FFFFFF;
$colorDescription:#848E97;